<!DOCTYPE html>
<html ng-app="SponateFp7Example">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Sponate Example: FP7 ICT Project Partners</title>
	<link rel="stylesheet" href="resources/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" />
	
	<script src="resources/libs/jquery/1.9.1/jquery.js"></script>
	<script src="resources/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
	<script src="resources/libs/underscore/1.4.4/underscore.js"></script>
	<script src="resources/libs/underscore.string/2.3.0/underscore.string.js"></script>
	<script src="resources/libs/prototype/1.7.1/prototype.js"></script>
	<script src="resources/libs/angularjs/1.0.8/angular.js"></script>
	<script src="resources/libs/jassa/0.5.0/jassa.js"></script>	
	
	<script type="text/javascript">
	_.mixin(_.str.exports());

	var prefixes = {
		'dbpedia-owl': 'http://dbpedia.org/ontology/',
		'dbpedia': 'http://.org/resource/',
		'rdfs': 'http://www.w3.org/2000/01/rdf-schema#',
		'foaf': 'http://xmlns.com/foaf/0.1/',
		'fp7o': 'http://fp7-pp.publicdata.eu/ontology/',
		'fp7r': 'http://fp7-pp.publicdata.eu/resource/'
	};

	var rdf = Jassa.rdf;
	var sparql = Jassa.sparql;
	var service = Jassa.service;
	var sponate = Jassa.sponate;

	
	/*
	 * Sponate
	 */
	var qef = new service.QueryExecutionFactoryHttp('sparql-proxy.php', ['http://fp7-pp.publicdata.eu/']);
	var store = new sponate.StoreFacade(qef, prefixes);

		store.addMap({
			name: 'projects',
			template: [{
				id: '?s',
				name: '?l',
				partners: [{
					id: '?f',
					name: '?pl',
					amount: '?a',
				}]
			}],
			from: '?s a fp7o:Project ; rdfs:label ?l ; fp7o:funding ?f . ?f fp7o:partner [ rdfs:label ?pl ] . ?f fp7o:amount ?a'
		});

	
	/*
	 * Angular JS
	 */	
	var myModule = angular.module('SponateFp7Example', []);

	myModule.factory('myService', function($rootScope, $q) {
		return {
			getProjects: function(filterText) {
				var criteria = {};

                if(filterText) {
                	criteria = {$or: [ { name: {$regex: filterText } } , { partners: { $elemMatch: { name: { $regex: filterText } } } } ] };
                }

				var promise = store.projects.find(criteria).skip(0).limit(10).asList();
				var result = sponate.angular.bridgePromise(promise, $q.defer(), $rootScope);
				return result;
	        }
	   };
	});

	myModule.controller('MyCtrl', function($scope, myService) {
		$scope.filterTable = function() {
			$scope.projects = myService.getProjects($scope.filterText);
		};
		
		$scope.init = function() {
			$scope.filterTable();
		};
	});

	</script>
</head>

<body ng-controller="MyCtrl" data-ng-init="init()">

	<div class="row-fluid">
		<div class="span8 offset2">
			<form ng-submit="filterTable()">
		    	<input type="text" ng-model="filterText" />
				<input class="btn-primary" type="submit" value="Filter" />
			</form>
		
			<table class="table table-striped">
				<tr><th>Project</th><th>Partners</th></tr>
				<tr ng-repeat="project in projects">
					<td>
						<a href="{{project.id.slice(1, -1)}}" target="_blank">{{project.name}}</a>
					</td>
					<td>
						<ul>
							<li ng-repeat="partner in project.partners">{{partner.name}}: {{partner.amount}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>
