<!DOCTYPE html>
<html ng-app="SponateDemo">
<head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="http://js.geoknow.eu/libs/jassa/latest/jassa.js"></script>
    <script src="http://js.geoknow.eu/libs/jassa-ui-angular/latest/jassa-ui-angular.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.12.8/sortable.min.js"></script>

    <style>
    /* Force pointer cursor on 'a' elements - even without href attribute */
    a {
        cursor: pointer
    }

    .item {
        cursor: move;
        min-width: 20px;
        min-height: 1em;
    }

    .placeholder {
        width: 25px;
        height: 15px;
        border: 2px dotted #aaaaaa;
    }

    .borderless,
    .boderless:active,
    .borderless:focus {
        border: none;
        outline: none;
        outline-offset: 0;
        border-color: transparent;
    }

    .preserve-whitespace {
        white-space: pre;
    }

    </style>

    <script type="text/javascript">
    jassa = new Jassa(Promise, $.ajax);

    var vocab = jassa.vocab;
    var rdf = jassa.rdf;
    var sparql = jassa.sparql;
    var service = jassa.service;
    var sponate = jassa.sponate;
    var facete = jassa.facete;
    var util = jassa.util;

    angular.module('SponateDemo', ['ui.jassa', 'ui.bootstrap', 'ui.sortable', 'ngSanitize'])

    .controller('AppCtrl', ['$scope', '$q', function($scope, $q) {

        /*
         * Set up the sparql service with as many buffs (decorations) as we like
         */
        //var sparqlService = new service.SparqlServiceHttp('http://lod.openlinksw.com/sparql', ['http://dbpedia.org'], {type: 'POST'});
        var sparqlService = new service.SparqlServiceHttp('http://dbpedia.org/sparql', ['http://dbpedia.org'], {type: 'POST'});
        sparqlService = new service.SparqlServiceCache(sparqlService);
        sparqlService = new service.SparqlServiceVirtFix(sparqlService);
        sparqlService = new service.SparqlServicePaginate(sparqlService, 1000);
        sparqlService = new service.SparqlServicePageExpand(sparqlService, 100);

        store = new sponate.StoreFacade(sparqlService, {
            'rdf': 'http://www.w3.org/1999/02/22-rdf-syntax-ns#',
            'dbpedia-owl': 'http://dbpedia.org/ontology/',
            'foaf': 'http://xmlns.com/foaf/0.1/'
        });

        /*
         * Set up the Sponate mapping for the data we are interested in
         */
        $scope.langs = ['de', 'en', ''];

        var labelConfig = new sparql.BestLabelConfig($scope.langs);
        var labelTemplate = sponate.MappedConceptUtils.createMappedConceptBestLabel(labelConfig);
        var commentTemplate = sponate.MappedConceptUtils.createMappedConceptBestLabel(new sparql.BestLabelConfig($scope.langs, [rdf.NodeFactory.createUri('http://dbpedia.org/ontology/abstract')]));

        store.addMap({
            name: 'castles',
            template: [{
                id: '?s',
                label: { $ref: { target: labelTemplate, attr: 'displayLabel' }},
                comment: { $ref: { target: commentTemplate, attr: 'displayLabel' }},
                depiction: '?d'
            }],
            from: '?s a dbpedia-owl:Castle . Optional { ?s foaf:depiction ?d }'
        });


        /*
         * Create a list service for our mapping and decorate it with
         * keyword search support
         */
        var listService = store.castles.getListService();

        listService = new service.ListServiceTransformConcept(listService, function(searchString) {

            var searchConfig = new sparql.BestLabelConfig($scope.langs, [rdf.NodeFactory.createUri('http://dbpedia.org/ontology/abstract'), vocab.rdfs.label]);

            var result;
            if(searchString == null || searchString.trim() === '') {
                result = null;
            } else {
                var labelRelation = sparql.LabelUtils.createRelationPrefLabels(searchConfig);

                switch($scope.searchMode) {
                case 'regex':
                    result = sparql.KeywordSearchUtils.createConceptRegexLabelOnly(labelRelation, searchString);
                    break;
                case 'fulltext':
                    result = sparql.KeywordSearchUtils.createConceptBifContains(labelRelation, searchString);
                    break;
                default:
                    throw new Error('Unknown search mode: ', $scope.searchMode);
                }
            }

            return result;
        });

        /*
         * Angular setup
         */

        var removeIntent = false;
        $scope.sortConfig = {
            placeholder: 'placeholder',
            receive: function(e, ui) { removeIntent = false; },
            over: function(e, ui) { removeIntent = false; },
            out: function(e, ui) { removeIntent = true; },
            beforeStop: function(e, ui) {
                if (removeIntent === true) {
                    var lang = ui.item.context.textContent;
                    if(lang) {
                        lang = lang.trim();
                        var i = $scope.langs.indexOf(lang);
                        $scope.langs.splice(i, 1);
                        ui.item.remove();
                    }
                }
            },
            stop: function() {
                if(!$scope.$$phase) {
                    $scope.$apply();
                }
            }
        };

        $scope.offset = 0;
        $scope.numItemsPerPage = 10;
        $scope.searchString = '';
        $scope.searchMode = 'fulltext';
        $scope.totalItems = null;
        $scope.currentPage = 1;

        $scope.focusLangInput = false;

        $scope.refresh = function() {
            $q.when(listService.fetchCount($scope.searchString)).then(function(countInfo) {
                $scope.totalItems = countInfo.count;
            });

            $q.when(listService.fetchItems($scope.searchString, $scope.numItemsPerPage, $scope.offset)).then(function(items) {
                $scope.items = items.map(function(item) {
                    return item.val;
                });
            });
        };

        $scope.$watch('currentPage', function() {
            $scope.offset = ($scope.currentPage - 1) * $scope.numItemsPerPage;
        });

        $scope.$watchCollection('[offset, numItems]', $scope.refresh);
        $scope.$watchCollection('langs', $scope.refresh);

        $scope.doFilter = function() {
            $scope.currentPage = 1;
            $scope.refresh();
        };

        $scope.confirmAddLang = function(lang) {

            var i = $scope.langs.indexOf(lang);
            if(i < 0) {
                $scope.langs.push(lang);
            }
            $scope.showLangInput = false;
            $scope.newLang = '';
        }


        // TODO Load languages dynamically
        // TODO Add labels to it
        $scope.availableLangs = ['de', 'en', 'jp', 'ko'];
    }]);

    </script>

</head>

<body ng-controller="AppCtrl">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="padding: 3px 15px;" href="http://aksw.org" target="_blank"><img style="height: 42px;" src="http://js.geoknow.eu/images/aksw-logo.png" alt=""></img></a>
            <a class="navbar-brand" href="#">Jassa/Sponate Demo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://aksw.org/ClausStadler" target="_blank">by Claus Stadler</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<div class="row">
<div class="col-md-12">

<div class="alert alert-success" role="alert">
    <form role="form" ng-submit="doFilter()" novalidate>
        <div class="form-group">
            <div class="input-group">
                <input
                    ng-model="searchString"
                    type="text"
                    class="form-control"
                    placeholder="Find ...">

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{searchMode}} <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a ng-click="searchMode='regex'" href="#">regex</a></li>
                        <li><a ng-click="searchMode='fulltext'" href="#">fulltext</a></li>
                    </ul>
                </div>

                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </form>

    <div>
        <ul class="list-inline">
            <li><span>Language Settings: </span></li>
            <li>
                <ul ui-sortable="sortConfig" ng-model="langs" class="list-inline">
                    <li class="item" ng-repeat="lang in langs"><span class="label label-success preserve-whitespace">{{lang.length ? lang : '  '}}</span></li>
                </ul>
            </li>
            <li ng-show="showLangInput">
                <form ng-submit="confirmAddLang(newLang)">
                    <input auto-focus="focusLangInput" size="4" ng-model="newLang" type="text" class="borderless" typeahead="lang for lang in availableLangs | filter:$viewValue | limitTo:8">
                    <button type="submit" style="cursor: pointer;" class="btn label label-info""><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" style="cursor: pointer;" class="btn label label-warning" ng-click="showLangInput=false"><span class="glyphicon glyphicon-remove"></span></button>
                </form>
            </li>
            <li>
                <button type="button" ng-show="!showLangInput" style="cursor: pointer;" class="btn label label-primary" ng-click="showLangInput=true; focusLangInput=true"><span class="glyphicon glyphicon-plus"></span></button>
            </ul>
    </div>

    <div>
        <strong>Found <span class="badge">{{totalItems}}</span> items</strong>
    </div>
</div>

<div class="row">
<div class="col-md-12" style="text-align: center">

<pagination
    ng-show="items.length"
    class="pagination-tiny" max-size="7"
    total-items="totalItems"
    page="currentPage"
    boundary-links="true"
    rotate="false"
    first-text="&lt;&lt;"
    previous-text="&lt;"
    next-text="&gt;"
    last-text="&gt;&gt;">
</pagination>

</div>
</div>

<table class="table table-striped">
        <tr ng-repeat="item in items">
            <td>
                <div class="thumbnail" style="width: 200px;">
                    <img ng-src="{{item.depiction}}">
                </div>
            </td>
            <td>
                <b>{{item.label || 'Sorry, there is no title available in your preferred languages'}}</b> <a href="{{item.id}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
                <br />
                 <span bind-html-unsafe="item.comment || 'Sorry, there is no description available in your preferred languages' | typeaheadHighlight:searchString"></span>
            </td>
        </tr>

        <tr ng-show="!items.length">
            <td colspan="2" style="text-align: center">
                <div class="alert alert-danger" role="alert">
                    There are no results that can be shown
                </div>
            </td>
        </tr>
</table>

</div>
</div>

<div class="row">
<div class="col-md-12" style="text-align: center">

<pagination
    ng-show="items.length"
    class="pagination-tiny" max-size="7"
    total-items="totalItems"
    page="currentPage"
    boundary-links="true"
    rotate="false"
    first-text="&lt;&lt;"
    previous-text="&lt;"
    next-text="&gt;"
    last-text="&gt;&gt;">
</pagination>

</div>
</div>


</div>

</html>
